/*------------fonts-------------*/
/* @import '@fontsource-variable/darker-grotesque'; */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.button-home {
  white-space: nowrap;
  width: max-content;
  height: 40px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11px 24px 13px;
  &:hover {
    opacity: 0.8;
    transition: opacity 0.25s ease-out;
  }
  &.primary {
    background-color: var(--primary);
  }
  &.error {
    background-color: var(--error);
  }
}

/*-----------underline animation------------*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*-----------my code-------------*/
body {
  /* background-color: var(--dark-bg); */
  color: var(--white);
  font-family: 'Darker Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

.avatar {
  width: 130px;
  height: 130px;
  background-color: grey;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -8px;
  margin-right: -8px;
}


.photos {
  .dot-contaner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--bg);
    opacity: 0.5;
  }
}
.phone {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 10px var(--ultra-dark));
  height: 533px;
}

.sign {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 48px;
    font-weight: 600;
    margin-right: 24px;
    margin-bottom: 8px;
  }
  &.borrow {
    background-image: url(../assets/home/borrow_sign.svg);
  }
  &.lend {
    background-image: url(../assets/home/lend_sign.svg);
  }
}

/*---------phone--------*/
@media (min-width: 300px) and (max-width: 790px) {
  .phone {
    height: 480px;
  }

  .h2 {
    font-size: 38px;
  }
  .dot-contaner,
  .dot {
    display: none;
  }

  .sign {
    width: 75px;
    height: 75px;
  }
}

/*-tablet-*/
@media (min-width: 791px) and (max-width: 991px) {
  .h2 {
    font-size: 38px;
  }
  .phone {
    height: 310px;
  }
  .sign {
    span {
      font-size: 28px;
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }
}

/*-tablet + small desktop-*/
@media (min-width: 992px) and (max-width: 1199px) {
  .phone {
    height: 433px;
  }
  .sign {
    span {
      font-size: 40px;
      margin-right: 14px;
    }
  }
}